scripts/OLD
freesurfer
figures
results/Control_Energy
results/func/vertex
results/individual
results/grad/vertex
results/grad/individual
results/grad/asy*
*fsa5_mmp.txt
*.npy
pet
micapipe*
stage*
*tmp*
fastsurfer
submission
.sync*
.owncloud*
